.campersList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: stretch;
}

.noCampersFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  font-size: 1.5rem;
  color: #888;
  font-weight: 500;
  gap: 16px;
  text-align: center;
}