.featuresSection {
  max-width: 500px;
  background: var(--color-bg-light);
  padding: 44px 52px;
  border-radius: var(--radius-main);
  font-family: var(--font-main);
}

.featuresWrapper {
  height: 204px;
  overflow-y: auto;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 100px;
}

.badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 18px;
  gap: 8px;
  background: var(--color-bg-grey);
  mix-blend-mode: multiply;
  border-radius: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text);
  height: 48px;
  width: fit-content;
  box-sizing: border-box;
}

.badgeIcon {
  width: 20px;
  height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.badgeText {
  height: 24px;
  text-align: center;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.vehicleDetails {
  margin-top: 0;
  padding: 0;
}

.vehicleDetails h3 {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  color: var(--color-text);
  padding: 0 0 24px 0;
  margin: 0 0 24px 0;
  border-bottom: 1px solid var(--color-border);
}

.vehicleDetails table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  color: var(--color-text);
}

.vehicleDetails tr {
  border-bottom: 1px solid var(--color-border);
}

.vehicleDetails td {
  color: var(--color-text);
}

.vehicleDetails td:first-child {
  color: var(--color-text-light);
}

.detailsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: var(--color-text);
}

.detailsName {
  width: 50%;
  text-align: left;
}

.detailsValue {
  color: var(--color-text);
  width: 50%;
  text-align: right;
}

.topFeatures {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.featureItem {
  border-radius: var(--radius-main);
  background: var(--color-bg-grey);
}

.detailsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.detailsList li {
  margin-bottom: 0.5rem;
}
