.featuresSection {
  max-width: 500px;
  background: #F7F7F7;
  padding: 44px 52px;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 100px;
}

.badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 18px;
  gap: 8px;
  background: #f2f4f7;
  mix-blend-mode: multiply;
  border-radius: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
  height: 48px;
  width: fit-content;
  box-sizing: border-box;
}

.badgeIcon {
  width: 20px;
  height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.badgeText {
  height: 24px;
  text-align: center;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.vehicleDetails {
  margin-top: 0;
  padding: 0;
}

.vehicleDetails h3 {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  color: #101828;
  padding: 0 0 24px 0;
  margin: 0 0 24px 0;
  border-bottom: 1px solid #dadde1;
}

.vehicleDetails table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  color: #333;
}

.vehicleDetails tr {
  border-bottom: 1px solid #eee;
}

.vehicleDetails td {
  padding: 10px 4px;
  vertical-align: top;
}

.vehicleDetails td:first-child {
  color: #666;
  width: 50%;
}

.detailsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #101828;
}

.detailsName {
  width: 50%;
  text-align: left;
}

.detailsValue {
  color: #333;
  width: 50%;
  text-align: right;
}

.topFeatures {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.featureItem {
  background: #e9ecef;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.detailsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.detailsList li {
  margin-bottom: 0.5rem;
}
