.camperCard {
  display: flex;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  padding: 24px;
  border: 1px solid #dadde1;
  box-sizing: border-box;
}

.imageCol {
  max-width: 292px;
  height: 320px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
}

.camperImg {
  max-width: 292px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

.infoCol {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-bottom:0px;
  margin-bottom:0px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardHeader h2 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
}

.price {
  font-weight: bold;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
}

.reviews {
  margin: 8px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

.desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  margin-bottom: 24px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 24px;
}

.showMore {
  align-self: flex-start;
  padding: 16px 40px;
  background: #e44848;
  color: white;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  width: 166px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.08px;
  vertical-align: middle;
}

.showMore:hover {
  background-color: #D84343;
}

.badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 18px;
  gap: 8px;
  background: #f2f4f7;
  mix-blend-mode: multiply;
  border-radius: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
  height: 48px;
  width: fit-content;
  box-sizing: border-box;
}

.badgeIcon {
  width: 20px;
  height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.badgeText {
  height: 24px;
  text-align: center;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.priceFavRow {
  display: flex;
  align-items: center;
  gap: 13px;
}

/* Favorite icon in top right corner */
.favoriteIcon {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  line-height: 0;
  display: flex;
  align-items: center;
  position: static; /* Remove absolute positioning */
}

.favoriteIcon svg {
  color: #e44848;
}

.starIcon {
  vertical-align: middle;
}

.locationIcon {
  vertical-align: middle;
}

.location {
  margin-left: 16px;
}
