/* filepath: d:\Study\Neoversity\React\travel-trucks\src\index.css */

/* Global styles for the application */
body {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  background-color: #FFFFFF;
}

.main {
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  background: #ffffff;
}

.camper-page {
  flex-direction: column;
  gap: 0;
  padding: 48px 64px 80px 64px;
}

.campers-page {
  padding: 48px 0px 52px 0px;
}

